body {
	margin:2em;
	background:#666666;
	color:#e0e0e0;
	font:11pt/130% "Arial CE", "Helvetica CE", Arial, sans-serif;
	}

h1 { color:#ffffcc; margin:1ex 0; }
h4 { color:white; margin:1ex 0; }
p { margin:1ex 0; }
hr { display:none; }
a {
	padding:1px 0.5ex;
	border:1px solid blue;
	color:white;
	text-decoration:none;
	}
a:hover { background:blue; color:white; }

#menu { padding:1ex; margin:2em 0 1em 0; background:#404040; font-size:90%; }
#menu h4 { display:block; }

#footer { font-size:0.8em; text-align:center; }

#basen p { font-style:italic; font-size:10pt; padding-left:2em; color:white; }
