/* CSS Document */
body {
    text-align:center;
    margin:0;
    font-size:16px;
    }
#main {
    margin: 5px auto;
    padding: 15px 25px;
    border:2px solid gray;
    width:750px;
    text-align:justify;
    background-color:white;
	 color:black;
    font-family: Verdana, Arial, 'Arial CE', sans-serif;
    }
#navigace {
    width:160px;
    float:left;
    border-right:2px solid #AAA;
    border-bottom:2px solid #AAA;
    color:black;
    background-color:#CCC;
    margin-right: 15px;
    padding: 10px;
    line-height: 1.5em;
    }
#navigace a {
    display:block;
    color:black;
    background-color:#CCC;
    text-decoration: none;
    }
#navigace a:hover {
    font-weight:bold;
    }
h1 {
    text-transform: uppercase;
    letter-spacing: 0.8em;
    text-align: center;
    font-size:220%;
    }
h2, h3 {
    letter-spacing: 0.1em;
    text-align:left;
    }
h3 {
    border-top: 2px solid gray;
    color:black;
    background-color: #DDD;
    padding: 3px 0 5px 5px;
    margin:30px 0 0px 0;
    }
#hlavicka img {
    float:left;
    margin-right:15px;
    }
#cena {
    text-align:right;
    font-weight:bold;
    margin-top:30px;
    padding-bottom:20px;
    margin-bottom:30px;
    border-bottom: 2px #999 solid;
    }
#hlavni_text {
    clear:both;
    margin-top:40px;
    }
#hlavni_text div {
    padding-left:5px;
    margin-top:15px;
    line-height: 125%;
    }
#hlavni_text h3 {
    clear:both;
    }
h3#hlavni_fce {
    clear:none;
    margin-left:310px;
    }
#hlavni_text a {
    color:#555;
    background-color:white;
    text-decoration:none;
    font-weight:bold;
    }
#hlavni_text a:hover {
    color:black;
    background-color:white;
    text-decoration:underline;
    }
div.nahoru {
    margin:0;
    padding:0;
    text-align: right;
    }
.nahoru a {
    font-size:60%;
    }
img#prvni_img {
    float:left;
    margin: 0 15px 15px 0px;
    }
img.left {
    float:left;
    margin: 15px 15px 15px 0;
    }
img.right {
    float:right;
    margin: 15px 0 15px 15px;
    }
#patka {
    margin-top:30px;
    border-top: 2px solid gray;
    text-align: center;
    }
#patka img {
    border:none;
    }
